.full-width {
    width: 100%;
}

.mgn-top-lg {
    margin-top: 30px;
}

.mgn-top-xl {
    margin-top: 50px;
}

.pdng-top-lg {
    padding-top: 30px;
}

.cart-item-photo {
	width: 100px;
	height: 100px;
}