.full-width {
    width: 100%;
}

.mgn-top-md {
  margin-top: 20px;
}

.mgn-top-lg {
    margin-top: 30px;
}

.mgn-top-xl {
    margin-top: 50px;
}

.pdng-top-lg {
    padding-top: 30px;
}

.cart-item-photo {
	width: 25%;
	height: 25%;
}

.cart-item-description {
	height: 2em;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cart-side-table {
	padding: 0;
	float: right;
	display: inline
}

.cart-empty {
	align: center;
	colspan: 3;
}

.cart-empty-photo {
	width: 25%;
	height: 25%;
	margin: 5px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.thumbnail>img {
	width: 350px;
	height: 250px
}

.logo {
	width: 50px;
	height: 50px
}

.star {
  height: 15px;
  width: 15px;
}

