.full-width {
    width: 100%;
}

.mgn-top-lg {
    margin-top: 30px;
}

.mgn-top-xl {
    margin-top: 50px;
}

.pdng-top-lg {
    padding-top: 30px;
}

.cart-main-table {
	border: solid 1px black;
}

.cart-side-table {
	border: solid 1px black;
	width: 25%;
	float: right;
}

.cart-item-photo {
	width: 100px;
	height: 100px;
}

.cart-item-update-btn {
	display: block;
	margin: 10px;
}

.cart-item-remove-btn {
	display: block;
	margin: 10px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}